.station-rotate {
  animation: station-rotate;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes station-rotate {
  from {
    transform: rotateX(0);
  }
  to {
    transform: rotateX(360deg);
  }
}
